/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/06/2020, 03:24:59 PM
    Author     : Giovanny
*/
body{
	width: 99%;
	background-color: gray;
	
}

.botones:hover{
	opacity: .9;	
}

.botones a{
	text-decoration: none;
	border-radius: 10px;
	color:  #FFFFFF;
	font-size: 20PX;
	font-family: Arial;
	padding: 14px;
	background: black;
	float: left;
	margin: 0px 6px;	
}

.contacto{
	width: 40%;
	margin: 45px auto;
	padding: 20px;
	border-radius: 10px;

}

h4{
	color:  lavender;
	padding: 15px;
	text-align: center;
	font-size: 20px;
	font-family: Arial;

}

label{
	font-size: 16PX;
	font-family: Arial;
	color: #2c3a95;

}

input[type="email"],input[type="text"],input[type="date"],input[type="password"]{
	padding: 10px;
	border:1px solid #45AAF7;
	margin: 10px;
	width: 35%;
	border-radius: 5px;
}

.bts:hover{
	opacity: .8;

}

.bts a{
	text-decoration: none;
	border-radius: 10px;
	color: #FFFFFF;
	font-size: 16PX;
	font-family: Arial;
	padding: 16px;
	background: #000;
	margin: 0px 80px;

}