/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/06/2020, 08:25:50 AM
    Author     : 57321
*/


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: #9999ff;
}




#formulario{
    width: 600px;
    background: #24303c;
    padding: 30px;
    margin:  auto;
    margin-top: 100px;
    boder-radius:4px;
    font-family: "calibri";
    border-style:outset;
    
    
}
#titulo{
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    

    text-shadow: 0 1px 0 #ccc,
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb, 
                0 4px 0 #b9b9b9, 
                0 5px 0 #aaa, 
                0 6px 1px rgba(0, 0, 0, .1), 
                0 0 5px rgba(0, 0, 0, .1), 
                0 1px 3px rgba(0, 0, 0, .3), 
                0 3px 5px rgba(0, 0, 0, .2), 
                0 5px 10px rgba(0, 0, 0, .25), 
                0 10px 10px rgba(0, 0, 0, .2),
                0 20px 20px rgba(0, 0, 0, .15) ;
    
    
}


#tabla{
  
    font-family:'Comic Sans'; 
    
    
}

#aja{
    width: 100%;
    background: #24303c;
    padding: 10px;
    boder-radius:4px;
    margin-bottom: 16px;
    boder : 1px solid #1f53c45;
    font-family: "calibri";
    font-size: 18px;

    
}

#boton{
    background: #00b7f8;
  border-bottom: 3px solid #0045a6;
  border-radius: 12px;
  box-shadow: 6px 6px 6px #999;
  color: #fff;
  cursor: pointer;
  display: block;  
  font-family: cursive;
  font-size: 15px;
  height: 50px;
  margin: 60px;
  padding: 20px 20px;
  text-align: center;
  transition: all 0.2s ease 0s;
  width: 120px;
}
#boton:hover{
	background: #0096f7;
}
#boton:active {
	box-shadow: 2px 2px 2px #777, 0px 0px 35px 0px #00b7f8;
	border-bottom:1px solid #0045A6;
  text-shadow:  0px 0px 5px #fff, 0px 0px 5px #fff;
	transform: translateY(4px);
  transition: all 0.1s ease 0s;
  margin: 80px auto 76px auto;

}
